<h2 class="wood-text title text-center fw-bold m-3" style="padding-top: 30px">
  Dashboard
</h2>

<div
  class="d-flex mt-5 justify-content-center align-items-center"
  style="padding-top: 50px; padding-bottom: 50px; margin-left: 20px"
>
  <div class="cards col-md-3 p-2">
    <div class="cardoo p-3 shadow-sm d-flex justify-content-center rounded">
      <div>
        <h3 class="fs-2 text-center">{{ mediceneJsonData.length }}</h3>
        <p class="fs-5">Total Medicenes</p>
      </div>
      <i class="icon fa-solid fa-syringe fs-1 rounded-full p-3"></i>
    </div>
  </div>
  <div class="cards col-md-3 p-2">
    <div class="p-3 shadow-sm d-flex justify-content-center rounded">
      <div>
        <h3 class="fs-2 text-center">{{ categoryJsonData.length }}</h3>
        <p class="fs-5">Total Categories</p>
      </div>
      <i class="icon fa-solid fa-layer-group fs-1 p-3"></i>
    </div>
  </div>
  <div class="cards col-md-3 p-2">
    <div class="p-3 shadow-sm d-flex justify-content-center rounded">
      <div>
        <h3 class="fs-2 text-center">{{ orderdata.length }}</h3>
        <p class="fs-5">Total Orders</p>
      </div>
      <i class="icon fa-solid fa-cart-shopping fs-1 p-3"></i>
    </div>
  </div>
  <!-- <div class="cards col-md-3 p-2">
    <div class="p-3 shadow-sm d-flex justify-content-center rounded">
      <div>
        <h3 class="fs-2 text-center">{{ messagedata.length }}</h3>
        <p class="fs-5">Total Masseges</p>
      </div>
      <i class="icon fa-brands fa-rocketchat fs-1 p-3"></i>
    </div>
  </div> -->
</div>
